.img {
  max-width: 400px;
}
.grid {
  display: grid;

  grid-template-columns: repeat(5, 1fr);
  grid-template-columns: repeat(5, minmax(400px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
